node_modules
**/node_modules
npm-debug.log
**/build
.dart_tool
.packages
.pub-cache
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool
.vscode
.idea
*.iml
.git
.gitignore
*.tar
*.tar.gz
*.zip
*.xz
*.log
.DS_Store
